.motion-playground {
   background: var(--color-slate-900);
   block-size: 80vb;
   border: var(--border-size-2) solid var(--color-slate-500);
   display: grid;

   &__content {
      display: grid;
      gap: var(--size-fluid-5);
      grid-template-columns: repeat(3, max-content);
      place-content: center;
      place-items: center;
   }

   &__card {
      aspect-ratio: var(--ratio-film-y);
      background: var(--color-slate-100);
      border: var(--border-size-3) solid var(--color-pink-500);
      border-radius: var(--radius-5);
      block-size: 40vb;
   }
}