---
import Layout from '@layouts/Demo.astro';
import { getCollection, render } from 'astro:content';

export async function getStaticPaths() {
   const demos = await getCollection('demos');
   const paths = demos.map(demo => ({
      params: { id: demo.id },
      props: { demo },
   }));
   return paths
}
// 2. For your template, you can get the entry directly from the prop
const { demo } = Astro.props;
const { Content } = await render(demo);
---
<Layout>
   <h1>{demo.data.title}</h1>
   <Content />
</Layout>