<footer>
   <div class="copy">
      &copy; {new Date().getFullYear()} - [ ID://SHARE ]
   </div>
</footer>

<style>
   footer {
      align-items: center;
      background: hsl(var(--color-surface-1));
      display: flex;
      flex-wrap: wrap;
      gap: var(--size-fluid-3);
      justify-content: space-between;
      padding-block: var(--size-fluid-1);
      padding-inline: var(--site-padding-inline);
   }

   .copy {
      font-size: var(--font-size-xs);
      letter-spacing: var(--tracking-wider);
   }
</style>