---
import Welcome from '@components/Welcome.astro';
import Layout from '@layouts/Layout.astro';

import { getCollection } from 'astro:content';

// Get all entries from a collection.
// Requires the name of the collection as an argument.
const allDemos = await getCollection('demos');
---

<Layout>
	List of all demos
	<ul>
		{allDemos.map((demo) => (
			<li>
				<a href={`${demo.collection}/${demo.id}`}>{demo.data.title}</a>
			</li>
		))}
	</ul>
</Layout>
