---
import Welcome from '@components/Welcome.astro';
import Layout from '@layouts/Full.astro';
---

<Layout>
	List of all demos
	<ul>
		<li><a href="/demos/css-variables">CSS Variables</a></li>
	</ul>
</Layout>
