---
// Components ==========================================
import Layout from '@layouts/Layout.astro';
import ArticleBanner from '@components/molecules/ArticleBanner/ArticleBanner.astro';

// Astro ==============================================
import { getCollection } from 'astro:content';

// Data ===============================================
let allSeries = await getCollection('series')
---

<Layout>
	<article class="article article--demo container__content--main">
      <ArticleBanner title='Demos' />
		<div class="inner">
			<ul>
				{allSeries.filter(series => !series.data.hidden).map(async (series) => {
					return (
						<li class="card">
							<h3>
								<a href={`demos/${series.data.slug}`}>{series.data.title}</a>
							</h3>
						</li>
					)
				})}
			</ul>
		</div>
	</article>
</Layout>

<style>
	.inner {
		padding-block: var(--size-fluid-3);
	}

	ul {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(50ch, 1fr));
		gap: var(--size-fluid-3);
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.card {
		--card-border: var(--border-size-1) solid hsl(var(--color-text-3));
		align-content: end;
		aspect-ratio: var(--ratio-film);
		border: var(--card-border);
		border-radius: var(--radius-2);
		display: grid;
		gap: 0;
		justify-items: start;
		position: relative;
		text-align: start;
		h3 {
			font-size: var(--heading-3);
			line-height: var(--leading-tight);
			padding: var(--size-fluid-2);

			> a {
				transition: color var(--duration-fast) var(--ease-out-3);

				&:hover {
					color: hsl(var(--color-syntax-string));
					text-decoration: none;
				}
				&::after {
					content: '';
					inset: 0;
					position: absolute;
					z-index: 1;
				}
			}
		}
	}
</style>