---
import Layout from './Layout.astro';
import Breadcrumbs from '@components/molecules/Breadcrumbs.astro';

import { getEntry } from 'astro:content';
const { id } = Astro.params;
const { data: { title, series, slug }} = await getEntry('demos', id);
let crumbs = [{ label: 'Demos', url: '/demos' }];
if (series) {
   const seriesSlug = slug.split('/')[0];
   crumbs = [...crumbs, { label: series, url: `/demos/${seriesSlug}` }];
}
crumbs = [...crumbs, { label: title, url: '' }];
---
<Layout>
   <main class="container container--grid">
      <Breadcrumbs items={crumbs} />
      <slot />
   </main>
</Layout>

<style>
   main {
      padding-block: var(--size-fluid-6);
      padding-inline: var(--site-padding-inline);
   }
</style>
