---
import Layout from './Layout.astro';
---
<Layout>
   <main>
      <slot />
   </main>
</Layout>

<style>
   main {
      block-size: 100%;
      padding-inline: var(--site-padding-inline);
   }
</style>
