---
import Header from '@components/organisms/Header/Header.astro';
import Footer from '@components/organisms/Footer/Footer.astro';
import '../styles/main.scss';

const { post } = Astro.props

---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{`ID://Share`}{post?.data?.title ? ` - ${post?.data?.title}` : ''}</title>
	</head>
	<body>
		<Header />
		<main class="container">
			<slot name="toolbar" />
			<slot name="sidebar" />
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style>
	html,
	body {
		align-content: start;
		block-size: 100%;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr auto;
		inline-size: 100%;
		margin: 0;
		min-block-size: 100vb;
	}
	main {

	}
</style>
