:where(html) {
  --site-padding-inline: var(--size-fluid-5);
}

body {
  background: hsl(var(--color-surface-0));
  color: hsl(var(--color-text-0));
  font-family: var(--font-sans);
}

a {
  color: inherit;
  text-decoration: none;

  &:where(:not([class])) {
    &:is(:hover, :focus-visible) {
      text-decoration: underline;
    }
  }

  &:is(:hover, :focus-visible) {
    color: inherit;
  }
}
