:where(html) {
  --site-padding-inline: var(--size-fluid-5);
}

body {
  background: hsl(var(--color-surface-0));
  color: hsl(var(--color-text-0));
  font-family: var(--font-sans);
}

a {
  color: inherit;
  text-decoration: none;

  &:is(:hover, :focus-visible) {
    color: inherit;
  }
}

p {
  line-height: var(--leading-paragraph);
}

strong {
  border: 1px solid hsl(var(--color-syntax-string));
  border-radius: var(--radius-2);
  box-decoration-break: clone;
  padding: 0.125em 0.25em;
}

em {
  border: var(--border-size-2) solid hsl(var(--color-syntax-keyword));
  border-radius: var(--radius-round);
  box-decoration-break: clone;
  font-weight: var(--font-weight-medium);
  padding: 0.125em 0.5em;
}

ul:where([class]) {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul:where(:not([class])) {
  display: grid;
  gap: var(--size-fluid-2);
  margin-block-end: var(--size-fluid-3);

  li {
    line-height: var(--leading-loose);
  }
}

hr {
  border-color: hsl(var(--color-syntax-keyword));
}

details {
  border: var(--border-size-2) solid hsl(var(--color-syntax-static));
  border-radius: var(--radius-2);
  padding: var(--size-fluid-1);
}

summary {
  font-weight: var(--font-weight-bold);

  [open] & {
    margin-block-end: var(--size-fluid-2);
  }
}

blockquote {
  border-inline-start: var(--border-size-6) solid hsl(var(--color-surface-2));
  margin-block-end: var(--size-fluid-4);
  padding-inline-start: var(--size-fluid-3);

  &:where(:not(:first-child)) {
    margin-block-start: var(--size-fluid-4);
  }

  :is(strong) {
    border: none;
    color: hsl(var(--color-syntax-keyword));
    padding: 0;
  }

  :where(:not(cite, cite *)) {
    font-size: var(--heading-3);
    font-weight: var(--font-weight-black);
    line-height: var(--leading-tight);
    max-inline-size: 45ch;
  }

  :where(cite) {
    display: block;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
    line-height: var(--leading-none);
    margin-block-start: var(--size-fluid-2);
  }
}

code {
  background: hsl(var(--color-syntax-tag));
  border-radius: var(--radius-1);
  color: hsl(var(--color-slate-800-hsl));
  font-size: 0.875em;
  font-weight: var(--font-weight-semibold);
  margin-inline: 0.25em;
  padding: 0.25em;
}

pre {
  background: hsl(var(--color-surface-1)) !important;
  border-radius: var(--radius-2);
  margin-block: var(--size-fluid-4) var(--size-fluid-6);
  padding: var(--size-fluid-2);
  position: relative;
  tab-size: 2;

  &::before {
    background-color: hsl(var(--color-surface-2));
    border-radius: inherit;
    content: attr(data-language);
    color: hsl(var(--color-text-3));
    font-size: var(--font-size-2xs);
    font-weight: var(--font-weight-semibold);
    inset: 0 0 auto auto;
    letter-spacing: var(--tracking-widest);
    padding: 0.25em 1em;
    position: absolute;
    text-transform: uppercase;
  }

  code {
    background: transparent;
    border-radius: 0;
    color: hsl(var(--color-syntax-plain)) !important;
    font-weight: var(--font-weight-medium);
    margin: 0;
    padding: 0;

    :where([style="color:#E1E4E8"]) {
      color: hsl(var(--color-syntax-punctuation)) !important;
    }

    :where([style="color:#FFAB70"]) {
      color: hsl(var(--color-syntax-plain)) !important;
    }

    :where([style="color:#B392F0"]) {
      color: hsl(var(--color-syntax-definition)) !important;
    }

    :where([style="color:#79B8FF"]) {
      color: hsl(var(--color-syntax-static)) !important;
    }

    :where([style="color:#F97583"]) {
      color: hsl(var(--color-syntax-keyword)) !important;
    }

    :where([style="color:#9ECBFF"]) {
      color: hsl(var(--color-syntax-string)) !important;
    }

    :where([style="color:#6A737D"]) {
      color: hsl(var(--color-syntax-comment)) !important;
    }
  }
}

.article__content {
  :where(h1, h2, h3, h4, h5, h6):where(:not([class])) {
    margin-block-start: var(--size-fluid-3);
  }

  :where(a) {
    &:where(:not([class])) {
      text-decoration-color: hsl(var(--color-syntax-tag));
      text-decoration-line: underline;
      text-decoration-style: dotted;
      text-decoration-thickness: 0.125em;
      text-underline-offset: 0.25em;

      &:is(:hover, :focus-visible) {
        text-decoration-color: hsl(var(--color-syntax-tag));
        text-decoration-style: solid;
        text-decoration-thickness: 0.25em;
      }
    }
  }
}
